.App {
  text-align: center;
  padding:10px;
  color: white;
  background-color: black;
}

.flip-1, .flip-2, .flip-3 {
  transform: rotateX(-90deg);
  animation: flip-in 0.5s ease-in forwards;
  animation-delay: 0.5s
}

.flip-2 {
  animation-delay: 1s;
}

.flip-3 {
  animation-delay: 1.5s;
}

@keyframes flip-in {
  0% {
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
  }
}
html, body {
  margin: 0;
  padding: 0;
}  

.social-container {
  background: black;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: white;
}

html{
  scroll-behavior: smooth;
}